body{ 
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

header{ 
  text-align: center;
  color: #1663f0;
  padding: 2vmin;
  font-size: 6vmin;
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  
}
h1 {
  text-align: center;
  color: #16A4FA;
  font-size: 3vmin;
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 30vmin;
}

main {
  justify-content: center;
  display: grid;
  grid-template-columns: 40vmin 50vmin 50vmin 40vmin;
  grid-template-rows: 20vmin 20vmin 20vmin 20vmin 20vmin;
}


.container {
  height: 100vmin;
  width: 100vmin;
  grid-column: 2;
  grid-row: 2;

  
  display: grid;
  grid-template-columns: 16.6vmin 16.6vmin 16.6vmin 16.6vmin 16.6vmin 16.6vmin;
  grid-template-rows: 16.6vmin 16.6vmin 16.6vmin 16.6vmin 16.6vmin 16.6vmin;
  border: 4px solid #4D4D4D;
}

.card {
  font-size: 6vmin;
  text-align: center;
  
  cursor: pointer;
  user-select: none;
}

.instructions {
  grid-column: 1;
  grid-row: 3;

  margin-left: 10vmin;
}

.gameTracker {
  grid-column: 4;
  grid-row: 3;

  margin-left: 10vmin;
}


